{% block content %}
<h1>Register</h1>
<h4>Enter Student Information below</h4>
<!--Form to request user's name-->
<div class="col-2">
    <form action="addStudentOrganisation" method="POST">
        <label for="name">Enter Name: </label>
        <input type="text" id="name" name="name">
        <label for="orgs">Enter Organisation: </label>
        <select name="orgs" id="orgs">
            <option value ="Charlotte Lazers">Charlotte Lazers</option>
            <option value ="Code 9">Code 9</option>
            <option value ="Wilmington Blazers">Wilmington Blazers</option>
            <option value ="Austin Errors">Austin Errors</option>
        </select>
        <input type="submit" value="Register">
    
    </form>
{% endblock %}
